
    
<div class="content">
        <div id="b1" class="box">
            <h1>Sistema de Marketplace Anything</h1>
        </div>
    
        <div id="b2" class="box">
            <div class="muda" id="comercio">
                <a href="/meus_dados">
                <div id="idLaranja" class="button is-rounded">             
                    <strong>Minha Conta</strong>
                </div>
                </a>
            </div>
            <br>
        <div class="muda" id="endereco">
            <a href='/meu_endereco'>
                <div id="idLaranja" class="button is-rounded">
                    <strong>Meu Endereço</strong>
                </div>
            </a>
        </div>
            <br>
        <div class="muda" id="comercio">
            <a href="/comercio">
            <div id="idLaranja" class="button is-rounded">
                <strong>Criar comércio</strong>
            </div>
        </a>
        </div>
        </div>


        <div id="b3" class="box"> 
            <form action="/set-loja" method="POST">
                <div class="column is-half">
                    <label><strong>Cnpj:<strong></label>
                    <input class="input is-rounded" placeholder="cnpj" type="text" id="cnpj" name="cnpj" value={{cnpj}}></br></br>
                </div>
                <div class="column is-half">
                    <label><strong>Nome da Loja:<strong></label>
                    <input class="input is-rounded" placeholder="nome loja" type="text" id="nomeLoja" name="nomeLoja" value={{nomeLoja}}></br></br>
                </div>
                <div class="column is-half">
                    <label><strong>Descricao:<strong></label>
                    <input class="input is-rounded" placeholder="descricao" type="text" id="descricao" name="descricao" value={{descricao}}></br></br>
                </div>
            
                <input class="button input is-rounded is-info" type="submit" value="Editar Campos da Loja"/><br><br>

            </form>
            <a class="button input is-rounded is-info"  href="del-loja" type="submit" value="Excluir Loja">Excluir Loja</a>
            <br><br>

            {{#each produtos}}
            <div class="b">
                <label></label>Id: {{id}}</label><br><br>
                <label>Nome: {{nomeProduto}}</label><br><br>
                <label>Valor: {{valorProduto}}</label><br><br>
                <label>Descricao: {{descricaoProduto}}</label><br><br>
                
            </div>
            {{/each}}
                                    
            <form action="/comercio-p" method="POST">
            <br><br>
                <h2>Adicionar Produto</h2><br><br>
                <div class="column is-half">
                    <label><strong>Nome:<strong></label>
                    <input class="input is-rounded" placeholder="nome" type="text" id="nome" name="nome">
                </div>
                <div class="column is-half">
                    <label><strong>Valor:<strong></label>
                    <input class="input is-rounded" placeholder="" type="number" id="valor" name="valor">
                </div>
                <div class="column is-half">
                    <label><strong>Descricao:<strong></label>
                    <input class="input is-rounded" placeholder="descricaoProduto" type="text" id="descricaoProduto" name="descricaoProduto"></br></br>
                </div>
                </label> <input hidden type="text" id="cpfDono" name="cpfDono" value={{cpf}}></br>

                <input class="button input is-rounded is-info" type="submit" value="Criar Produto"/><br><br>
            </form>

            <form action="del-produto" method="POST">
                <br><br>
                                
                <h2>Excluir Produto</h2><br>

                <div class="column is-half">
                    <label><strong>Id do Produto:<strong></label>
                    <input class="input is-rounded" placeholder="nomeProduto" type="text" id="id" name="id">
                </div>
                <input class="button input is-rounded is-info" type="submit" value="Excluir Produto"/><br><br>

                <br><br>
            </form>

            <form action="/edit-produto" method="POST">
                <h2>Editar Produto</h2>
                
                <div class="column is-half">
                    <label><strong>Id do Produto:<strong></label>
                    <input class="input is-rounded" placeholder="nome" type="text" id="id" name="id"><br><br>
                </div>    

                <div class="column is-half">
                    <label><strong>Nome:<strong></label>
                    <input class="input is-rounded" placeholder="nome" type="text" id="nome" name="nomeProduto"><br><br>
                </div>
                <div class="column is-half">
                    <label><strong>Valor:<strong></label>
                    <input class="input is-rounded" placeholder="ValorProduto" type="number" id="valor" name="valorProduto">
                </div>
                <div class="column is-half">
                    <label><strong>Descricao:<strong></label>
                    <input class="input is-rounded" placeholder="descricaoProduto" type="text" id="descricaoProduto" name="descricaoProduto"></br></br>
                </div>
                </label> <input hidden type="text" id="cpfDono" name="cpfDono" value={{cpf}}></br></br>

                <input class="button input is-rounded is-info" type="submit" value="Editar Produto"/><br><br>

            </form>
        </div> 
      </div>
