<div class="content">
        <div id="b1" class="box">
            <h1>Sistema de Marketplace Anything</h1>
        </div>
        
        <div id="b2" class="box">
            <div class="muda" id="comercio">
                <a href="/meus_dados">
                <div id="idLaranja" class="button is-rounded">                    
                    <strong>Minha Conta</strong>
                </div>
                </a>
            </div>
            <br>
            <div class="muda" id="endereco">
                <a href='/meu_endereco'>
                    <div id="idLaranja" class="button is-rounded">
                        <strong>Meu Endereço</strong>
                    </div>
                </a>
            </div>
            <br>
            <div class="muda" id="comercio">
                <a href="/comercio">
                    <div id="idLaranja" class="button is-rounded">
                        <strong>Criar comércio</strong>
                    </div>
                </a>
            </div>
        </div>
        
        <div id="b3" class="box is-right" align="Right"> 
            <form action="/set-loja" method="POST">
                <div class="column is-half">
                    <label><strong>Nome da Loja:</strong></label>
                    <input class="input is-rounded" placeholder="Nome da loja" type="text" id="nomeLoja" name="nomeLoja" value="{{nomeLoja}}"></br></br>
                </div>
                <div class="column is-half">
                    <label><strong>Descrição:</strong></label>
                    <input class="input is-rounded" placeholder="ex: Loja de Roupas" type="text" id="descricao" name="descricao" value="{{descricao}}"></br></br>
                </div>
                <div class="column is-half">
                    <label><strong>CNPJ:</strong></label>
                    <input class="input is-rounded" placeholder="ex: 33.014.556/0001-96." type="text" id="cnpj" name="cnpj" value="{{cnpj}}"></br></br>
                </div>
                <div class="buttons column is-one-fifths">
                    <input class="button is-rounded is-info" type="submit" value="Editar Campos da Loja">
                    <button class="button is-danger is-rounded">
                        <a href="del-loja">Excluir Loja</a>
                        
                    </button>
                </div>
            </form>
            
            <br><div class="tabs is-centered"><ul></ul></div><br>
            {{#each produtos}}
            <div class="b">
                <label>Id: {{id}}</label><br><br>
                <label>Nome: {{nomeProduto}}</label><br><br>
                <label>Valor: {{valorProduto}}</label><br><br>
                <label>Descricao: {{descricaoProduto}}</label><br><br>    
            </div>
            {{/each}}

            <br><div class="tabs is-centered"><ul></ul></div><br>
            <form action="/comercio-p" method="POST" class="column">
                <h2>Adicionar Produto</h2>
                <div class="column is-half">
                    <label><strong>Nome:</strong></label>
                    <input class="input is-rounded" placeholder="Nome do produto" required type="text" id="nome" name="nome">
                </div>
                <div class="column is-half">
                    <label><strong>Valor:</strong></label>
                    <input class="input is-rounded" placeholder="ex: 10,90" required type="number" id="valor" name="valor">
                </div>
                <div class="column is-half">
                    <label><strong>Descrição:</strong></label>
                    <input class="input is-rounded" placeholder="ex: Camiseta regata" required type="text" id="descricaoProduto" name="descricaoProduto">
                </div><br>
                
                <input hidden type="text" id="cpfDono" name="cpfDono" value={{cpf}}>
                <input class="button is-rounded is-success" type="submit" value="Adicionar"/>
            </form>

            <div class="tabs is-centered"><ul></ul></div><br>
            <form action="del-produto" method="POST">
                <h2>Excluir Produto</h2>
                <div class="column is-half">
                    <label><strong>ID do Produto:</strong></label>
                    <input class="input is-rounded" placeholder="ex: 1" type="number" id="id" name="id"><br><br>
                </div>
                <input class="button is-rounded is-danger" type="submit" value="Excluir Produto"/>
            </form>

            <div class="tabs is-centered"><ul></ul></div><br>
            <form action="/edit-produto" method="POST">
                <h2>Editar Produto</h2><br><br>
                <div class="column is-half">
                    <label><strong>ID do Produto:</strong></label>
                    <input class="input is-rounded" placeholder="ex: 02" type="number" id="id" name="id">
                </div>
                <br><br>
                <div class="column is-half">
                    <label><strong>Nome:</strong></label>
                    <input class="input is-rounded" placeholder="ex: Camiseta preta" required type="text" id="nome" name="nomeProduto">
                </div>
                </br></br>
                <div class="column is-half">
                    <label><strong>Valor:</strong></label>
                    <input class="input is-rounded" placeholder="ex: 35,00" required type="number" id="valor" name="valorProduto">
                </div>
                <br><br>
                <div class="column is-half">
                    <label><strong>Descricao:</strong></label>
                    <input class="input is-rounded" placeholder="ex: Camiseta 100% algodão" required type="text" id="descricaoProduto" name="descricaoProduto"></br></br>
                </div>
                <input hidden type="text" id="cpfDono" name="cpfDono" value={{cpf}}>
                <input class="button is-rounded is-info"type="submit" value="Editar"/>
                </div>
            </form>
        </div>
    </div>